<h1>Welcome to the Gif Generator!</h1>

<% if current_user %>
<%= link_to "Logout", logout_path, method: :delete %>
<% else %>
<%= link_to "Login", login_path %>
<br>
<%= link_to "Create New Account", new_user_path %>
<% end %>

<br>

<%= link_to "See All Categories", categories_path %>
<br>
<%= link_to "My Dashboard", user_path(current_user) if current_user %>
<br><br>

<% @gifs.each do |gif| %>
   <img src="<%= gif.image_path %>">
   <% if current_user %>
     <%= link_to "Favorite", user_gifs_path(current_user, gif_id: gif.id), method: :post %>
   <% end %>
<% end %>
