<h1>All Gifs</h1>

<% @gifs.each do |gif| %>
   <img src="<%= gif.image_path %>">
<% end %>

<br><br>

<%= link_to "Return Home", root_path %>
<% if current_user %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
  <%= link_to "Create New Account", new_user_path %>
<% end %>
