<h1>Edit <%= @category.name %></h1>

<% @category.gifs.each do |gif| %>
   <img src="<%= gif.image_path %>">
   <%= link_to "Delete", admin_gif_path(gif), method: :delete %>
<% end %>

<%= link_to "Return to All Categories", admin_categories_path %>
<br>
<%= link_to "Return Home", root_path %>
<br><br>
<% if current_user %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
  <br>
  <%= link_to "Create New Account", new_user_path %>
<% end %>
