<!DOCTYPE html>
<html>
<head>
  <title>GifGenerator</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body style="padding-top: 70px;">
  <%= render partial: "layouts/navbar" %>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
